{{ define "main" }}

    <!-- Section Header -->
    {{range .Params.SectionHeader_1}}
        {{ partial "components/section-header.html" . }} {{ end }}
    
    <!-- Page Menu-->
    {{ partial "components/page-menu.html" . }}

    <section id="ethos" class="space-t--sm space-b">
        {{range .Params.MediaArticle_1}}
            {{ partial "components/media-article.html" . }} {{ end }}
    </section>
    
    <!-- Small Header -->
    <header class="text-center mb-6 space-t">
        <h4 class="header-sm">Impact Journeys</h4>
    </header>

    <!-- Profile Slider -Hero -->
    <section class="space-b--lg" id="impact-journeys">
        {{ partial "components/profile-slider--hero.html" . }}

        <!-- See More Link -->
        <aside class="container gutter-md | pt-12">
            <a href="/stories" class="link -icon -green | justify-end inline-block">
                <span class="text">See all stories</span>
                {{- partial "svg/arrow--r.svg" (dict "class" "-xs -stroke-4") -}}
            </a>
        </aside>
    </section>



    <!-- Section Header - Basic -->
    {{range .Params.SectionHeaderBasic_1}}
        {{ partial "components/section-header--basic.html" . }} {{ end }}

    <!-- Profile Grid -->
    <section class="profile-cards flex-grid flex-wrap  | container gutter-md  space-b">
        {{range .Params.ProfileGrid_1}}
            {{ partial "components/profile-card--modal.html" . }} {{ end }}
            {{ partial "components/profile-card--info.html" . }}
    </section>

    <!-- Panel Hero -->
    <section id="press">
    {{range .Params.PanelHero_1}}
        {{ partial "components/panel-hero.html" . }} {{end}}
    </section>
        
{{ end }}
