{{ define "main" }}

  <!-- Section Header -->
  {{range .Params.SectionHeader_1}}
    {{ partial "components/section-header.html" . }} {{ end }}

  <!-- Page Menu-->
  {{ partial "components/page-menu.html" . }}
  
  <!-- Info Slider -->
  <section id="journey" class="js-section | bg-green-darkest | space-t--lg space-b">
    {{ partial "components/info-slider.html" . }}
  </section>

  <!-- Feature Articles -->
  <section id="offerings" class="js-section">
      {{ partial "components/feature-articles.html" . }}
  </section>

  <!-- Profile Slider --basic -->
  <section id="community" class="js-section |  bg-orange text-white">
      {{ partial "components/profile-slider--basic.html" . }}
  </section>


  <!-- Media Article -->
  <section id="benefits" class="js-section | space-t--sm space-b">
    {{range .Params.MediaArticle_1}}
      {{ partial "components/media-article.html" . }} {{ end }}
  </section>

  <!-- Panel Hero -->
  <section class="space-t--sm">
    {{range .Params.PanelHero_1}}
        {{ partial "components/panel-hero.html" . }} {{end}}
  </section>


{{ end }}
