{{ define "main" }}

{{/*  Section Header  */}}
{{ range.Params.SectionHeader_1 }}
{{ partial "components/section-header.html" . }} {{ end }}

<section class="container--xs | gutter-lg space-b">
  {{/*  Form  */}}
  <form action="" class="standard-form">
    {{/*  Sub Section Header  */}}
    {{ range.Params.SubSectionHeader_1 }}
    {{ partial "components/sub-section-header.html" . }} {{ end }}

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="first-name">
          First Name
        </label>
        <input type="text" id="first-name" />
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="last-name">
          Last Name
        </label>
        <input type="text" id="last-name" />
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="company">
          Company
        </label>
        <input type="text" id="company" placeholder="Placeholder Text" />
        <div class="helper-text">Helper Text</div>
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="email">
          Email
        </label>
        <input type="text" id="email" />
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group | w-2/5">
        <label class="standard-label" for="country">
          Country Code
        </label>
        <select_box :opt="{ variant: '-standard -md' }">
          <option value="en" selected>UK</option>
          <option value="es">GE</option>
          <option value="ma">FR</option>
          <option value="de">US</option>
          <option value="fr">SP</option>
        </select_box>
      </div>
      <div class="field-group | w-3/5">
        <label class="standard-label" for="phone">
          Phone
        </label>
        <input type="text" id="phone" placeholder="+0 (000) 000-0000" />
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="country">
          Country
        </label>
        <select_box :opt="{ variant: '-standard -md' }">
          <option value="en" selected>English (US)</option>
          <option value="es">Spanish</option>
          <option value="ma">Mandarin</option>
          <option value="de">German</option>
          <option value="fr">French</option>
        </select_box>
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="address-1">
          Address Line 1
        </label>
        <input type="text" id="address-1" />
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group">
        <label class="standard-label" for="address-2">
          Address Line 2
        </label>
        <input type="text" id="address-2" />
      </div>
    </div>

    {{/*  Group  */}}
    <div class="form-group">
      <div class="field-group | w-1/3">
        <label class="standard-label" for="city">
          City
        </label>
        <input type="text" id="city" />
      </div>
      <div class="field-group | w-2/3">
        <label class="standard-label" for="zip">
          Zip
        </label>
        <input type="text" id="zip" />
      </div>
    </div>

    {{/*  Sub Section Header  */}}
    {{ range.Params.SubSectionHeader_2 }}
    {{ partial "components/sub-section-header.html" . }} {{ end }}

    {{/*  Duplicate Form Groups  */}}
    <clone_form_blocks :group="'Company'" class="">
      <template slot="blocks">
        {{/*  Group (radio-boxes) */}}
        <div class="form-group">
          <div class="field-group">
            <div class="standard-label -standalone">
              WHERE IS YOUR COMPANY BASED?
            </div>
            <div class="option-group">
              <label
                for="option-1"
                class="option-group__item | control control--radio-box"
              >
                <input
                  type="radio"
                  value="Option 1"
                  name="group-A"
                  id="option-1"
                />
                <span class="control__text | w-full">US/CAN</span>
              </label>

              <label
                for="option-2"
                class="option-group__item | control control--radio-box"
              >
                <input
                  type="radio"
                  value="Option 2"
                  name="group-A"
                  id="option-2"
                />
                <span class="control__text | w-full">UK/EU</span>
              </label>

              <label
                for="option-3"
                class="option-group__item | control control--radio-box"
              >
                <input
                  type="radio"
                  value="Option 3"
                  name="group-A"
                  id="option-3"
                />
                <span class="control__text | w-full">Other</span>
              </label>
            </div>
          </div>
        </div>

        {{/*  Group (radio-boxes) */}}
        <div class="form-group">
          <div class="field-group">
            <div class="standard-label -standalone">
              WHAT’S YOUR ROLE IN THE COMPANY?
            </div>
            <div class="option-group">
              <label
                for="option-4"
                class="option-group__item | control control--radio-box"
              >
                <input
                  type="radio"
                  value="Option 4"
                  name="group-B"
                  id="option-4"
                />

                <span class="control__text | w-full">Founder</span>
              </label>

              <label
                for="option-5"
                class="option-group__item | control control--radio-box"
              >
                <input
                  type="radio"
                  value="Option 5"
                  name="group-B"
                  id="option-5"
                />

                <span class="control__text | w-full">Investor</span>
              </label>

              <label
                for="option-6"
                class="option-group__item | control control--radio-box"
              >
                <input
                  type="radio"
                  value="Option 6"
                  name="group-B"
                  id="option-6"
                />

                <span class="control__text | w-full">Venture Capital</span>
              </label>
            </div>
          </div>
        </div>

        {{/*  Group  */}}
        <div class="form-group">
          <div class="field-group">
            <label class="standard-label" for="add-company-name">
              Company Name
            </label>
            <input type="text" id="add-company-name" />
          </div>
        </div>

        {{/*  Group  */}}
        <div class="form-group">
          <div class="field-group">
            <label class="standard-label" for="add-company-num">
              Company #
            </label>
            <input type="text" id="add-company-num" />
          </div>
        </div>
      </template>
    </clone_form_blocks>

    {{/*  Sub Section Header  */}}
    {{ range.Params.SubSectionHeader_3 }}
    {{ partial "components/sub-section-header.html" . }} {{ end }}

    {{/*  Range Slider  */}}
    <range_slider :min="10" :start="40" :max="100" class="form-block">
    </range_slider>

    {{/*  Sub Section Header  */}}
    {{ range.Params.SubSectionHeader_4 }}
    {{ partial "components/sub-section-header.html" . }} {{ end }}

    <div class="form-block">
      {{/*  Profile Card  - Modal */}}
      <content_modal>
        <template slot="trigger">
          <button class="btn -light -full -solid">Review & Sign</button>
        </template>

        <header slot="header">
          <h4 class="header-xl">Thank you!</h4>
          <h5 class="header-sm -light">
            Your pledge has been successfully sent.
          </h5>
        </header>

        <article slot="article">
          <article class="article-copy">
            <p>I can’t thank you enough for your support.</p>

            <p>
              We're empowering founders and investors to add value to their
              companies as well as the causes they love, without sacrificing one
              for the other. Together, we’re making a real difference in the
              tech world and in the global community.
            </p>

            <p>
              Now you’re part of our global community who've all committed to do
              good by pledging to support the social causes they’re passionate
              about.
            </p>

            <p>That means something.</p>
          </article>
        </article>
      </content_modal>
    </div>
  </form>
</section>

{{ end }}
