{{ define "main" }}

    <!-- Section Header -->
    {{range .Params.SectionHeader_1}}
        {{ partial "components/section-header.html" . }} {{ end }}   
    
    <!-- Page Menu-->
    {{ partial "components/page-menu.html" . }}

    <section id="resources" class="js-section | container | gutter-lg md:space-t space-b">
        <!-- Section Header - Basic -->
        {{range .Params.SectionHeaderBasic_1}}
            {{ partial "components/section-header--basic.html" . }} {{ end }}

        <!-- Resource List-->
        <div class="resources">
            {{range .Params.ResourceList_1}}
                {{ partial "components/resource--single-link.html" . }} {{ end }}
        </div>
    </section>    

    <section id="contact" class="js-section">
        <!-- Panel Hero -->
        {{range .Params.PanelHero_1}}
        {{ partial "components/panel-hero.html" . }} {{end}}
    </section>

    <section id="press" class="js-section | bg-oat-light | space-b">
        <div class="container gutter-lg">
            <!-- Section Header - Basic -->
            {{range .Params.SectionHeaderBasic_2}}
            {{ partial "components/section-header--arrow.html" . }} {{ end }}
        </div>

        <!-- Flip Cards -->
        <div class="flip-cards | md:flex-grid justify-between | container gutter-lg">
            {{range .Params.FlipCards_1}}
                {{ partial "components/flip-card.html" . }} {{ end }}
        </div>
    </section>
    
        
{{ end }}
