{{ define "main" }}

    <!-- Section Header -->
    {{range .Params.SectionHeader_1}}
        {{ partial "components/section-header.html" . }} {{ end }}

    {{/*  Stories Article Layout  */}}
    <section class="longform-article | bg-oat-light">
        
        <div class="longform-article__figure">
            <figure class="featured-article-card__figure | image -background -is3x2 | bg-oat-light">
                <div class="background" style="background-image: url('/img/fpo-08.jpg');"></div>
            </figure>
        </div>

        {{/*  Content  */}}
        <div class="longform-article__content | space-b--lg | container">

            {{/*  Aside  */}}
            <div class="longform-article__aside">

                {{/*  Definition List  */}}
                <dl class="definition-list">
                    <dt>Published</dt>
                    <dd>March 2017</dd>
        
                    <dt>Share this Story</dt>
                    <dd>
                        <ul class="social-list | mt-3" role="menubar">
                            <li><a href="" aria-label="Facebook">{{- partial "svg/facebook.svg" -}}</a></li>
                            <li><a href="" aria-label="Linked In">{{- partial "svg/linkedin.svg" -}}</a></li>
                            <li><a href="" aria-label="Linked In">{{- partial "svg/twitter.svg" -}}</a></li>
                        </ul>
                    </dd>
                </dl>
    
            </div>
    
            {{/*  Main  */}}
            <div class="longform-article__main | relative">
                {{ partial "components/general-body-copy--expanded.html" . }}
                <div class="pattern--green | absolute"></div>
            </div>
        </div>
    </section>

    
        
{{ end }}
