{{ define "main" }}

    <!-- Section Header -->
    {{range .Params.SectionHeader_1}}
        {{ partial "components/section-header.html" . }} {{ end }}

    <!-- Page Menu-->
    {{ partial "components/page-menu.html" . }}
    
    {{/*  Featured Article Card  */}}
    <section id="featured" class="js-section">
        {{ range .Params.FeaturedArticle_1 }}
            {{ partial "components/featured-article-card.html" . }} {{ end }}
    </section>

    {{/*  Section  */}}
    <section id="impact" class="js-section | container | gutter-lg space-b" id="featured">
        <!-- Section Header - Basic -->
        {{range .Params.SectionHeaderBasic_1 }}
            {{ partial "components/section-header--arrow.html" . }} {{ end }}

        <!-- Resource List-->
        <div class="article-cards | xs:flex-grid">
            {{range .Params.ArticleCards_1}}
                {{ partial "components/article-card.html" . }} {{ end }}
        </div>
    </section>

    
    {{/*  Section  */}}
    <section id="insiders" class="js-section | container | gutter-lg space-b" id="impact">
        <!-- Section Header - Basic -->
        {{range .Params.SectionHeaderBasic_2}}
        {{ partial "components/section-header--arrow.html" . }} {{ end }}

        <!-- Resource List-->
        <div class="article-cards | xs:flex-grid">
            {{range .Params.ArticleCards_2}}
                {{ partial "components/article-card.html" . }} {{ end }}
        </div>
    </section>

    {{/*  Section  */}}
    <section id="insights" class="js-section | container | gutter-lg space-b" id="insights">
        <!-- Section Header - Basic -->
        {{range .Params.SectionHeaderBasic_3}}
        {{ partial "components/section-header--arrow.html" . }} {{ end }}

        <!-- Resource List-->
        <div class="article-cards | xs:flex-grid">
            {{range .Params.ArticleCards_3}}
                {{ partial "components/article-card.html" . }} {{ end }}
        </div>
    </section>

    {{/*  Section  */}}
    <section id="news" class="js-section | container | gutter-lg space-b" id="news">
        <!-- Section Header - Basic -->
        {{range .Params.SectionHeaderBasic_4}}
        {{ partial "components/section-header--arrow.html" . }} {{ end }}

        <!-- Resource List-->
        <div class="article-cards | xs:flex-grid">
            {{range .Params.ArticleCards_4}}
                {{ partial "components/article-card.html" . }} {{ end }}
        </div>
    </section>

    {{/*  Section  */}}
    <section id="research" class="js-section | container | gutter-lg space-b" id="research">
        <!-- Section Header - Basic -->
        {{range .Params.SectionHeaderBasic_5}}
        {{ partial "components/section-header--arrow.html" . }} {{ end }}

        <!-- Resource List-->
        <div class="article-cards | xs:flex-grid">
            {{range .Params.ArticleCards_5}}
                {{ partial "components/article-card.html" . }} {{ end }}
        </div>
    </section>


        
{{ end }}
