{{ define "main" }}

<!-- Section Header -->
{{ range.Params.SectionHeader_1 }}
{{ partial "components/section-header.html" . }} {{ end }}

{{/*  Stories Article Layout  */}}
<section class="longform-article | bg-oat-light">
  <div class="longform-article__figure">
    <figure
      class="featured-article-card__figure | image -background -is3x2 | bg-oat-light"
    >
      <div
        class="background"
        style="background-image: url('/img/fpo-08.jpg');"
      ></div>
    </figure>
  </div>

  {{/*  Content  */}}
  <div class="longform-article__content | space-b--lg | container">
    {{/*  Aside  */}}
    <div class="longform-article__aside">
      {{/*  Definition List  */}}
      <dl class="definition-list">
        <dt>Published</dt>
        <dd>March 2017</dd>

        <dt>Written By</dt>
        <dd>Jane Smith</dd>

        <dt>Share this Story</dt>
        <dd>
          <ul class="social-list | mt-3" role="menubar">
            <li>
              <a
                href=""
                aria-label="Facebook"
                >{{- partial "svg/facebook.svg" -}}</a
              >
            </li>
            <li>
              <a
                href=""
                aria-label="Linked In"
                >{{- partial "svg/linkedin.svg" -}}</a
              >
            </li>
            <li>
              <a
                href=""
                aria-label="Linked In"
                >{{- partial "svg/twitter.svg" -}}</a
              >
            </li>
          </ul>
        </dd>
      </dl>
    </div>

    {{/*  Main  */}}
    <div class="longform-article__main | relative">
      {{ partial "components/general-body-copy--expanded.html" . }}

      <div class="author-card | md:flex-grid">
        <div class="author-card__aside">
          <figure class="image -is1x1 | mb-4">
            <img src="/img/fpo-10.jpg" class="fit-cover" />
          </figure>
        </div>

        <div class="author-card__main">
          <div class="author-card__header | mb-5 pt-2">
            <h4 class="header-md">Jane Smith</h4>
            <h5 class="header-sm | pt-2">Author</h5>
          </div>
          <div class="author-card__descr | paragraphs -sm">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
              obcaecati qui non hic nihil accusantium vitae totam, nam nulla
              optio quas ut incidunt ipsa, reprehenderit veritatis placeat amet
              minima fugit?
            </p>
          </div>
        </div>
      </div>

      <div class="pattern--green | absolute"></div>
    </div>
  </div>
</section>

{{ end }}
