{{ define "main" }}


  <!-- Intro -->
  <section class="space-t--sm space-b">
        {{range $.Site.Data.home.MediaArticle_1}}
            {{ partial "components/media-article.html" . }}
        {{end}}
  </section>


  <!-- Why FP? -->
  <section class="bg-oat-light">
    <!-- Section Header -->
    {{range $.Site.Data.home.WhyFoundersHeader}}
        {{ partial "components/section-header.html" . }}
    {{end}}

    <!-- Highlight Cards -->
    <div class="highlight-cards | md:flex-grid">

        {{range $.Site.Data.home.WhyFoundersHighlights}}
            {{ partial "components/highlight-card.html" . }}
        {{end}}

    </div>

  </section>

  <!-- Why Now? -->
  <section class="bg-green-darkest text-white">
      {{ partial "components/media-article--features.html" . }}
  </section>
  

  <!-- Progress -->
  <section>
    <!-- Section Header -->
    {{range $.Site.Data.home.ProgressHeader}}
        {{ partial "components/section-header.html" . }}
    {{end}}
    
    
    <div class="space-t--sm space-b">
        <!-- Heads Up - Inline -->
        {{ partial "components/headsup--inline.html" . }}
    </div>
  </section>

  <!-- Model -->
  <section class="space-b">
    <!-- Media Article (reversed) -->
    {{range $.Site.Data.home.MediaArticle_2}}
        {{ partial "components/media-article.html" . }}
    {{end}}
    
  </section>

  
  <!-- Profile Slider -->
  <section class="bg-oat-light | space-t">
    {{ partial "components/profile-slider.html" . }}
  </section>

  <!-- Logo Parade -->
  <section class="space-b container gutter">
      {{ partial "components/logo-parade.html" . }}
  </section>

 {{ end }}
