<footer class="site-footer container gutter" role="contentinfo">

        
    <!-- Groups -->
    <div class="site-footer__groups | space-t--sm">
        <div class="site-footer__groups__container | container gutter">

            <!-- Contact -->
            <div class="site-footer__group">
                <div aria-label="Founders Pledge Contact Info" class="footer-contact">

                    <!-- Logo -->
                    <div class="site-footer__logo">
                        {{- partial "svg/founders-pledge-logo.svg" . -}}
                    </div>
                    
                    <!-- Address -->
                    <div class="hcard | lg:pl-10 lg:py-0 py-8">
                        <div class="hcard__item | tel">
                            <a href="tel: +44 (0) 208 068 0425"> +44 (0) 208 068 0425</a>
                        </div>

                        <div class="hcard__item | email">
                            <a href="mailto:info@founderspledge.org">info@founderspledge.org</a>
                        </div>

                        <div class="hcard__item | addr | mt-5">
                            <p>Block A Unit 402A</p>
                            <p>100 Clements Road </p>
                            <p>London SE16 4DG</p>
                        </div>
                    </div>

                    <!-- Form -->
                    <div class="signup-form | lg:pl-10">
                        <form action="">
                            <input type="text" class="email" placeholder="Email Digest Sign Up">
                            <button class="submit">

                                    {{- partial "svg/arrow--r.svg" (dict "class" "submit-icon") -}}

                            </button>
                        </form>
                    </div>
                </div>
            </div>  
            
            <!-- Footer Menu -->
            <div class="site-footer__group"> 
                <nav aria-label="Founders Pledge Main Footer Menu" class="footer-menu">
                    
                    <h5 class="site-footer__header | header-">First Things</h5>

                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">How It Works</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Impact</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Community</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Stories</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link | -highlight" tabindex="0">Start Your Journey</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Sign In</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <!-- Footer Menu -->
            <div class="site-footer__group"> 
                <nav aria-label="Founders Pledge Main Footer Menu" class="footer-menu">
                    
                    <h5 class="site-footer__header | header-">Get to Know Us</h5>
                    
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Who We Are</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Careers</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Press &amp; Media</a>
                        </li>
                        <li class="menu-list__item">
                            <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Privacy Policy</a>
                        </li>
                    </ul>

                    <ul class="social-list" role="menubar">
                        <li><a href="" aria-label="Facebook">{{- partial "svg/map-pin.svg" -}}</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

    <!-- Meta -->
    <div class="site-footer__meta">
        <div class="site-footer__meta__container | container gutter">

            <div class="footer-meta__group">
                <div class="align-text-icon">
                    {{- partial "svg/map-pin.svg" -}}
                    <div class="text ml-2">Registered in USA, UK, &amp; Germany</div>
                </div>
            </div>

            <div class="footer-meta__group">
                &copy; {{ now.Format "2006" }} Founders For Good
            </div>
            
            <div class="footer-meta__group">
                <select_box 
                    class="-box"
                    :opt="{ linkList: true, variant: '-narrow -center' }">

                    <option value="?language=en-us" selected>English (US)</option>
                    <option value="es">Spanish</option>
                    <option value="url-to-localization-here">Mandarin</option>
                    <option value="could-be-any-url">German</option>
                    <option value="url-to-localization">French</option>
                    
                </select_box>
            </div>
        
        </div>
    </div>

</footer>
<!-- 
{{ .Site.BaseURL }}

 {{ .Site.Title }} -->