<header class="site-header" role="banner">

  <!-- Logo -->
  <site_menu class="site-header__menu">
        <!-- Logo -->
        <template slot="logo">
            {{- partial "svg/founders-pledge-logo.svg" . -}}
            {{- partial "svg/founders-pledge-icon.svg" (dict "class" "-sm") -}}
        </template>
        
        <!-- Menu Bar -->
        <template slot="menu">
            <ul class="menu-bar" role="menubar">
                <li class="menu-bar__item">
                    <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">How It Works</a>
                </li>
                <li class="menu-bar__item">
                    <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Impact</a>
                </li>
                <li class="menu-bar__item">
                    <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Community</a>
                </li>
                <li class="menu-bar__item">
                    <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Stories</a>
                </li>
                <li class="menu-bar__item">
                    <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link | -highlight" tabindex="0">Start Your Journey</a>
                </li>
                <li class="menu-bar__item">
                    <a role="menuitem" aria-haspopup="false" href="" class="menu-bar__link" tabindex="0">Sign In</a>
                </li>
            </ul>
        </template>

  </site_menu>


</header>