// Grid
.article-cards {
    @apply flex-wrap;
}

// Card
.article-card {
    @apply no-underline property-all duration-2 timing-1;;

    &__main {
        @apply py-6 w-4/5;

    }
    .preheader {
        @apply mb-4;
    }

    // Figure
    &__figure {
        @apply bg-oat-light;
        img {
            @apply property-all duration-2 timing-1;
        }
    }
    // Hover 
    &:hover {
        .article-card__figure img {
            transform: scale(1.01);
        }
    }

    // Screen
    @screen xs {
        width: 48%;
    }
    @screen md {
        width: 46.8%;
        @apply mb-12;

        &:nth-last-child(1), 
        &:nth-last-child(2) {
            @apply mb-0;
        }
    }
}