// Flip Cards

// Card
.flip-card {
    
    // General Layout
    @apply mb-8 w-full;

    &__back {
        @apply py-10 px-8;
    }

    &__content {
        @apply relative 
        text-center text-green-darkest;

        // Box
        &:before {
            @apply absolute pseudo pin-t pin-l z-0
            w-full h-full 
            property-all timing-1 duration-3
            bg-white border-t-8 border-oat;
            
            transform: scale(1);
        }
    }

    
    &__back {
        @apply relative
        z-20
        property-all timing-1 duration-3 delay-0;
    }

    &__main {
        @apply relative z-30;
    }

    &__front,
    &__back {
        @apply property-all timing-1 duration-3;
    }

    &__front {
        @apply hidden delay-4;
    }

    
    
    &__descr {
        @apply max-w-xs mx-auto;
    }


    // General Type
    &__name {
        @apply font-serif;
    }

    &__detail {
        @apply hidden;
    }
    &__logo {
        @apply hidden;
    }
    
    .icon {
        @apply mb-3 text-orange;
    }

    // - Feature Type
    &.-feature {
        .flip-card__content:before {
            @apply border-green; 
        }
        .flip-card__action {
            @apply hidden;
        }
        .flip-card__detail {
            @apply block;
        }
        
        .flip-card__back {
            .flip-card__name {
                @apply mb-6;
            }

            .flip-card__name,
            .icon {
                @apply block;
            }
        }
        .icon {
            @apply text-green;
        }
        .paragraphs p {
            @apply font-serif text-base font-semibold leading-tight;
        }
    }

    
    // - Press Type
    &.-press {

        .flip-card__front {
            @apply block opacity-100;
        }

        .flip-card__logo {
            @apply block pb-8;
            max-width: 5rem;
        }
        .paragraphs p {
            @apply font-serif text-xl font-semibold leading-tight;
        }
        .link.-underline {
            @apply .text-green-darkest .border-green-darkest .font-semibold;
        }

    }

    // - CTA Type (by default, this works)
    &.-cta {
        
        .flip-card__back {
            @apply opacity-100 pt-16 pb-14 delay-0;
        }
        .flip-card__front {
            @apply hidden;
        }

        .flip-card__content {
            @apply flex flex-col .justify-center h-full;

            &:before { 
                @apply border-0 bg-orange text-white;
                transform: scale(1) !important;
            }
        }

        a {
            @apply .no-underline text-white;
            transition: none;

            &:hover {
                @apply text-black;
            }
        }
        .flip-card__name {
            @apply mb-3;
        }
        
    }

    // - Resource Type (by default, this works)
    &.-resource {
        

        .flip-card__descr {
            @apply my-6;
        }

        .link {
            @apply text-green-darkest border-black;
            &:hover {
                @apply text-oat border-oat;
            }
        }
        
    }
}

// Grid
.flip-cards {
    @apply flex-wrap;
}

// Screen
@screen md {
    // General Layout
    .flip-card {
        @apply mb-12;
        width: 48%;

        &__front {
            @apply absolute pin-t pin-l
            w-full h-full
            flex justify-center flex-col;
        }
    
        &__back {
            @apply opacity-0 pt-12 px-8 pb-10;
        }

        

        // - Press Type
        &.-press {

            .flip-card__front {
                @apply flex opacity-100;
            }

            .flip-card__logo {
                @apply block py-4;
                max-width: 8.75rem;
            }
        }    
        // resource Type
        &.-resource {
            .flip-card__back {
                @apply py-6;
            }
        }

        // Feature Type
        &.-feature {
            .flip-card__back {  
                .flip-card__name {
                    @apply pb-0;
                }
                .flip-card__name,
                .icon {
                    @apply hidden;
                }
            }

            .paragraphs p {
                @apply text-xl;
            }

            .flip-card__back {
                @apply py-20 px-8 pb-16;
            }
        }

        // Hover
        &,
        &.-press,
        &.-feature {
            &:hover {
        
                .flip-card__content {
                    &:before { 
                        transform: scaleY(1.2);
                    }
                }
    
                .flip-card__front {
                    @apply opacity-0 delay-0;
                }
    
                .flip-card__back {
                    @apply opacity-100 delay-4;
                }
            }
        }
        
        
    }
}