.longform-article {

    // Aside
    &__aside {
        @apply px-6 mt-6;
        order: 2;
    }

    // Content
    &__content {
        @apply flex flex-wrap flex-col
        px-3;
    }

    // Main
    &__main {
        @apply bg-white py-16 px-8 
        relative -mt-4 z-10;
        order: 1;
    }

    // Pattern
    .pattern--green {
        width: 10rem;
        height: 2.5rem;
        bottom: -1rem;
        background-size: 100%;

        @apply center-x;

    }

    // Screen 
    // - md 
    @screen md {
        
        // Content
        &__content {
            @apply grid h-full mx-auto
            px-0;
            grid-template-columns: repeat(6, 1fr);
        }

        // Main
        &__main {
            @apply p-24 -mt-24;
            order: 2;
            grid-column-start: span 4;
        }

        // Aside
        &__aside {
            @apply pt-6 pl-3 pr-0;
            order: 1;
        }

        // Pattern
        .pattern--green {
            background-size: 80%;
            width: 20.25rem;
            height: 6rem;
            bottom: -3rem;
        }

    }

    // -lg 
    @screen lg {
        &__aside {
            @apply pt-18 pl-10;
        }
    }
}