// Media Article
.media-article {

    // Features
    &__feature {
        @apply max-w-xs w-full
        pb-12;

        &:last-of-type {
            @apply pb-6;
        }
    }
}
// Screen
@screen md {
    // Layout
    .media-article {
        @apply flex justify-between;

        &__main {
            width: 67.5%;
            @apply pb-12 pr-12;
        }
        &__aside {
            width: 32.5%;
        }
        &__actions {
            @apply mt-12;
        }

        &__header {
            @apply pt-14;
        }
        &__article {
            width: 72%;
        }

        // Features 
        &.-features {
            .media-article__header {
                @apply pt-24;
            }
            .media-article__article {
                @apply w-full;
            }
        }

        // Simple 
        &.-simple {
            .media-article__main {
                width: 65%;
            }
            .media-article__aside {
                width: 35%;
            }
            .media-article__article {
                width: 95%;
            }
        }

        // Reverse
        &.-reverse {
            @apply flex-row-reverse;

            .media-article__main.gutter-l--lg {
                @apply pl-32;
            }
        }
        
    }
    
}