.profile-slider {
    @apply relative;

    // Layout 
    &__main {
        @apply mb-10;      
    }
    .tns-inner,
    &__content {
        @apply overflow-hidden;
    }

    
    // Slider Controls
    .slider-controls {
        @apply w-32 float-right;
        [data-controls] {
            @apply py-8;
        } 
    }
    
    // Controls Info
    .controls-info {
        @apply relative;
    }
    .info {
        @apply center-xy
        text-sm
        font-semibold;
    }

    // Nav
    .tns-nav, .nav {
        @apply hidden;
    }

    
    .nav {
        .image {
            overflow: inherit;
        }
    }

    // Basic Type
    &.-basic {
        @apply pt-14;

        .image img {
            @apply z-10;
        }

        .tns-inner {
            width: 99%;
        }
        .tns-inner,
        .profile-slider__content {
            @apply overflow-visible;
        }
    }

    // Hero Type
    &.-hero {
        .profile-slider__card {
            @apply pt-8 px-10 pb-10;

            p:last-child {
                @apply mb-0;
            }
        }
    }
     // Hero Type
     &.-hero {
        @apply pb-8;
        .tns-inner,
        .profile-slider__content {
            @apply overflow-visible;
        }
        .profile-slider__main {
            @apply mb-0;
        }
        // Slider Controls
        .slider-controls {
            @apply relative bg-green text-white w-32 float-left;
            .info {
                @apply text-white ;
            }
        }
    }

    // Pattern
    .pattern--white {
        @apply absolute z-10 h-full;
        left: -62px;
        background-repeat: no-repeat;
        width: 9rem;
        top: -18px;
    }
    
}

// Screen
@screen md {
    // Layout
    .profile-slider {
        &__content {
            @apply flex-row-reverse;
        }
        &__main {
            @apply pl-28;
            width: 68%;  
        }
        &__aside {
            width: 32%;
        }

        // Slider Controls
        .slider-controls {
            @apply relative flex justify-end items-center p-0 m-0;
            width: 64%;      

            [data-controls] {
                @apply py-0;
            } 
   
        }

        // Nav
        .nav {
            @apply flex flex-1
            bg-white 
            pt-6 pb-3 px-3 
            ml-4;

            &__item {
                @apply mx-2
                w-18 h-18
                relative
                property-opacity timing-1 duration-1;
                
                
                &:after {
                    @apply absolute pseudo pin-l
                    w-full pb-1;
                    bottom: -11px;
                }
                
            }
        }

        // Basic Type
        &.-basic {
            @apply pt-18 pb-16;
            
            .profile-slider__main {
                @apply pl-14;
            }
            .profile-slider__aside {
                width: 32%;
            }
            
            .slider-controls {
                @apply bg-transparent absolute;
                width: auto;
                top: inherit;
                bottom: 5.625rem;       
                right: 4rem;
            }

            .info {
                @apply text-white;
            }
        }

        // Hero Type
        &.-hero {
            @apply pb-8;
            
            .profile-slider__main {
                @apply absolute w-3/5 pin-r m-0 pl-0;
                transform: translate(0%,-50%);
            }
            .profile-slider__aside {
                @apply w-full;
            }
            // Slider Controls
            .slider-controls {
                @apply w-auto p-4 float-right;
                right: 60%;
                .info {
                    @apply text-white ;
                }
            }
            .profile-slider__card {
                @apply pt-10 px-14 pb-14;
            }
        }

        // Pattern
        .pattern--white {
            width: 15.25rem;
            height: 3.625rem;
            right: -2rem;
            bottom: -2rem;
            top: inherit;
            background-repeat: repeat;
        }
    }

}