.profile-slider {
    @apply relative;

    // Main 
    &__main {
        @apply mb-10;
      
    }

    // Control Panel
    .slider-controls {
        @apply cursor-pointer
        absolute pin-b pin-r bg-oat-light p-4 mr-2;;
    }
    
    // Controls
    .controls-info {
        @apply  relative;

    }
    
    // Info
    .info {
        @apply center-xy
        text-sm text-green-darkest
        font-semibold;
    }

    // Nav
    .nav {
        @apply hidden;
    }

    .icon {
        &:hover {
            @apply text-green;
        }
    }
    
}


 
// Screen
@screen md {
    // Layout
    .profile-slider {
        &__container {
            @apply flex-row-reverse;
        }
        &__main {
            @apply pl-28;
            width: 68%;  
        }
        &__aside {
            width: 32%;
        }

        // Control Panel
        .slider-controls {
            @apply relative flex justify-end items-center float-right p-0 m-0;
            width: 64%;             
        }

        // Nav
        .nav {
            @apply flex flex-1
            bg-white 
            pt-6 pb-3 px-3 
            ml-4;

            &__item {
                @apply mx-2
                w-18 h-18
                relative
                property-opacity timing-1 duration-1;
                
                
                &:after {
                    @apply absolute pseudo pin-l
                    w-full pb-1;
                    bottom: -11px;
                }
                
            }
        }

        // Basic
        &.-basic {
            .profile-slider__main {
                @apply pl-10;
            }
            .slider-controls {
                @apply bg-transparent;
                width: auto;
                top: -4rem;
                right: 4rem;
            }

            .info {
                @apply text-white;
            }
        }
    }
    
}