// Site Footer
.site-footer {
    @apply border-t .border-grey-lightest;
    
    // Logo
    &__logo {
        @apply text-green-darkest relative;
        left: -3rem;
        .logo {
            max-width: 11rem;
        }

        &:hover {
            @apply text-green;
        }
    }

    // Header
    &__header {
        @apply text-green-darkest text-xl
        font-medium font-serif
        mb-3;
    }

    // Group
    &__group {
        @apply max-w-xs 
        mx-auto mb-10 pl-12 pr-8; 
    }

    // Contact
    .hcard {
        @apply pl-0;
    }

    // Meta
    &__meta {
        @apply text-xs text-black
        border-t border-oat-light;
    }

    // Form
    .signup-form {
        @apply my-3;
    }

    // Map Pin
    .icon--map-pin {
        width: 0.75rem;
    }

}

// Meta
.site-footer__meta {
    @apply pt-2;
}
.footer-meta__group {
    @apply text-center mx-auto py-2;
    .align-text-icon {
        @apply justify-center;
    }
    .choices {
        @apply mx-auto;
    }
}

// Screen
@screen md {
    
    // Layout
    .site-footer {
        // Meta
        &__meta__container {
            @apply flex 
            justify-between
            items-center
            pt-4 pb-8;
        }
        // Choices
        .choices {
            @apply float-right;
        }
        // Container 
        &__groups__container{
            @apply mx-auto
            px-10;
            max-width: 90rem;
        }

        // Header
        &__header {
            @apply mt-6;
        }
    }
    // Meta 
    .footer-meta__group {
        @apply .flex-1 pr-0;
    
        &:nth-child(2) {
            @apply text-center;
        }
        &:last-child {
            @apply text-right;
        }
    }
}

// Screen
@screen lg {
    
    // Layout
    .site-footer {
        
        // Logo
        &__logo {
            @apply mb-4;
        }

        // Groups
        &__groups__container {
            @apply flex justify-between;
        }
        &__group {
            @apply flex-1;
            max-width: inherit;
            
            &:first-child {
                @apply w-1/2;
                flex: inherit;
            }
        }

        // Contact
        .hcard {
            @apply mb-12;
            // padding-left: 3.375rem;
        }

        // Form
        .signup-form {
            @apply mt-12 mb-30;
        }

        // Choices
        .choices {
            @apply float-right;
        }
        
    }

    // Meta
    .footer-meta__group {
        @apply text-left mx-0 py-0;

        .align-text-icon {
            @apply justify-start;
        }
        .choices {
            @apply mx-0;
        }
    }
    

}