
<gallery_modal>

    <template slot="trigger">
        <div class="btn--gallery">
            <div class="gallery-stack">
                {{ range first 2 .gallery }}
                <div class="gallery-stack__item">
                    <img src="{{ .image }}" alt="">
                </div>
                {{ end }}
            </div>
            <button class="link -icon -green">
                <span class="text">Browse event gallery</span>
                {{- partial "svg/arrow--r.svg" (dict "class" "-xs -stroke-4") -}}
            </button>
        </div>
        
    </template>

    <template slot="gallery">

        {{ range .gallery }}
        <div class="gallery-slide">
            <img src="{{ .image }}" data-src="{{ .image }}" alt="">
        </div>
        {{ end }}

    </template>
    
</gallery_modal>