<div class="article-copy">
    <h5>Section Heading (H5)</h5>
    <h2>Created with a simple aspiration (h2)</h2>
    
    <p>We approached this mission with a deep understanding of the sector – Founders Pledge was built by founders, for founders and launched out of Founders Forum, Europe's foremost network of digital and technology entrepreneurs.</p>
    
    <p>We're empowering founders and investors to add value to their companies as well as the causes they love, without sacrificing one for the other. Together, we’re making a real difference in the tech world and in the global community.</p>
    
    <h2>Heading H2</h2>
    
    <h4>Heading h4</h4>
    
    <p>Since then, WeWork has been the subject of pieces with headlines like "WeWork: A $20 Billion Startup Fueled by Silicon Valley Pixie Dust," and "Why WeWork thinks its worth $20 billion." Recode's Ed Lee said on CNBC that WeWork's valuation is "on the high side, for sure" and Forbes called the company "a crazy bet."</p>
    <p>WeWork has raised about $4 billion in funding to date. It's the third biggest startup by valuation in the US after Uber and Airbnb, and the largest in New York City.</p>
    
    <h6>Section Heading (h6)</h6>
    <p>Since then, WeWork has been the subject of pieces with headlines like "WeWork: A $20 Billion Startup Fueled by Silicon Valley Pixie Dust," and "Why WeWork thinks its worth $20 billion." Recode's Ed Lee said on CNBC that WeWork's valuation is "on the high side, for sure" and Forbes called the company "a crazy bet."</p>
    <p>WeWork has raised about $4 billion in funding to date. It's the third biggest startup by valuation in the US after Uber and Airbnb, and the largest in New York City.</p>
    
    <figure class="image -is2x1">
        <img src="/img/fpo-06.jpg" alt="">
    </figure>
</div>