<article class="article-copy">
  <h1>
    WeWork cofounder Miguel McKelvey is sick of talking about his company's
    massive $20 billion valuation.
  </h1>

  <p>
    While speaking at a CornellTech@Bloomberg event Tuesday night, McKelvey had
    some colorful things to say about the topic, which were reported by The Real
    Deal New York.
  </p>

  <p>
    McKelvey was asked how he feels about the way private companies are valued,
    and what he would say to critics who think WeWork doesn't deserve its high
    valuation.
  </p>

  <p>
    He responded that valuations in general are totally subjective, therefore he
    doesn't pay much attention to them.
  </p>

  <h5>Section Heading (H5)</h5>
  <h2>Created with a simple aspiration (h2)</h2>

  <p>
    We approached this mission with a deep understanding of the sector –
    Founders Pledge was built by founders, for founders and launched out of
    Founders Forum, Europe's foremost network of digital and technology
    entrepreneurs.
  </p>

  <p>
    We're empowering founders and investors to add value to their companies as
    well as the causes they love, without sacrificing one for the other.
    Together, we’re making a real difference in the tech world and in the global
    community.
  </p>

  <h2>Heading H2</h2>
  <p>
    Some years ago—never mind how long precisely—having little or no money in my
    purse, and nothing particular to interest me on shore, I thought I would
    sail about a little and see the watery part of the world. It is a way I have
    of driving off the spleen and regulating the circulation. Whenever I find
    myself growing grim about the mouth; whenever it is a damp, drizzly November
    in my soul; whenever I find myself involuntarily pausing before coffin
    warehouses, and bringing up the rear of every funeral I meet; and especially
    whenever my hypos get such an upper hand of me, that it requires a strong
    moral principle to prevent me from deliberately stepping into the street,
    and methodically knocking people’s hats off—then, I account it high time
    tozz get to sea as soon as I can.
  </p>

  <blockquote class="blockquote">
    How then is this? Are the green fields gone? What do they here?
  </blockquote>

  <h4>Heading h4</h4>

  <p>
    Since then, WeWork has been the subject of pieces with headlines like
    "WeWork: A <a href="#">$20 Billion Startup</a> Fueled by Silicon Valley
    Pixie Dust," and "Why WeWork thinks its worth $20 billion." Recode's Ed Lee
    said on CNBC that WeWork's valuation is "on the high side, for sure" and
    Forbes called the company "a crazy bet."
  </p>
  <p>
    WeWork has raised about $4 billion in funding to date. It's the
    <a href="#">third biggest startup</a> by valuation in the US after Uber and
    Airbnb, and the largest in New York City.
  </p>

  <h6>Section Heading (h6)</h6>
  <p>
    Since then, WeWork has been the subject of pieces with headlines like
    "WeWork: A $20 Billion Startup Fueled by Silicon Valley Pixie Dust," and
    "Why WeWork thinks its worth $20 billion." Recode's Ed Lee said on CNBC that
    WeWork's valuation is "on the high side, for sure" and Forbes called the
    company "a crazy bet."
  </p>
  <p>
    WeWork has raised about $4 billion in funding to date. It's the third
    biggest startup by valuation in the US after Uber and Airbnb, and the
    largest in New York City.
  </p>

  <figure class="image -is16x12">
    <img src="/dist/assets/img/fpo-06.jpg" class="fit-cover" />
  </figure>

  <p>
    WeWork has raised about $4 billion in funding to date. It's the third
    biggest startup by valuation in the US after Uber and Airbnb, and the
    largest in New York City.
  </p>
</article>
