
<div class="highlight-card">
    <a href="{{.linkUrl}}" class="highlight-card__content | no-underline">
        {{ if .icon }}
        <div class="highlight-card__icon | text-green">
            {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
        </div>
        {{end}}

        <div class="highlight-card__main | text-grey-darkest">
            <h4 class="header-md">{{.name}}</h4>
            <div class="paragraphs -xs">
                <p>{{.descr | safeHTML }}</p>
            </div>
        </div>

        {{ if .linkText }}
        <div class="highlight-card__action | text-sm">
            <button class="link -underline">{{.linkText}}</button>
        </div>
        {{ end }}
    </a>  
</div> 