
<div class="highlight-card">
    <div class="highlight-card__content">
        {{ if .icon }}
        <div class="highlight-card__icon | text-green">
            {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
        </div>
        {{end}}

        <div class="highlight-card__main">
            <h4 class="header-md">{{.name}}</h4>
            <div class="paragraphs -xs">
                <p>{{.descr | safeHTML }}</p>
            </div>
        </div>

        {{ if .linkText }}
        <div class="highlight-card__action | text-sm">
            <a href="{{.linkUrl}}" class="link -underline">{{.linkText}}</a>
        </div>
        {{ end }}
    </div>  
</div> 