<div class="info-slider-layout | container">

    <!-- Profile Slider -->
    <info_slider :opt="{
            items: 2,
            slideBy: 1,
            autoplay: false,
            center: false,
            gutter: 16,
            speed: 900,
            mode: 'carousel'
        }" class="info-slider slider-reset -no-arrows -gallery-transition | container clearfix">

        <template slot="slides">

            {{/*  Slide  */}}
            <div class="info-slider__slide">
                <div class="info-slider__content">
                    
                    <div class="highlight-card -white text-left">
                        <div class="highlight-card__content">

                            <div class="highlight-card__icon text-green">
                                {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
                            </div>

                    
                            <div class="highlight-card__main">
                                <h4 class="header-md">Header 01</h4>
                                <div class="paragraphs -sm">
                                    <p>First, pledge a percentage of your shares. The average pledge is 7.5%. The minimum is 2%, and the highest so far is 50%.</p>
                                </div>
                            </div>
                
                        </div>  
                    </div> 
            
                </div>
            </div>
            {{/*  Slide  */}}
            <div class="info-slider__slide">
                <div class="info-slider__content">
                    
                    <div class="highlight-card -white text-left">
                        <div class="highlight-card__content">

                            <div class="highlight-card__icon text-green">
                                {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
                            </div>

                    
                            <div class="highlight-card__main">
                                <h4 class="header-md">Header 02</h4>
                                <div class="paragraphs -sm">
                                    <p>First, pledge a percentage of your shares. The average pledge is 7.5%. The minimum is 2%, and the highest so far is 50%.</p>
                                </div>
                            </div>
                
                        </div>  
                    </div> 
            
                </div>
            </div>
            
            {{/*  Slide  */}}
            <div class="info-slider__slide">
                <div class="info-slider__content">
                    
                    <div class="highlight-card -white text-left">
                        <div class="highlight-card__content">

                            <div class="highlight-card__icon text-green">
                                {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
                            </div>

                    
                            <div class="highlight-card__main">
                                <h4 class="header-md">Header 03</h4>
                                <div class="paragraphs -sm">
                                    <p>First, pledge a percentage of your shares. The average pledge is 7.5%. The minimum is 2%, and the highest so far is 50%.</p>
                                </div>
                            </div>
                
                        </div>  
                    </div> 
            
                </div>
            </div>

            {{/*  Slide  */}}
            <div class="info-slider__slide">
                <div class="info-slider__content">
                    
                    <div class="highlight-card -white text-left">
                        <div class="highlight-card__content">

                            <div class="highlight-card__icon text-green">
                                {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
                            </div>

                    
                            <div class="highlight-card__main">
                                <h4 class="header-md">Header 04</h4>
                                <div class="paragraphs -sm">
                                    <p>First, pledge a percentage of your shares. The average pledge is 7.5%. The minimum is 2%, and the highest so far is 50%.</p>
                                </div>
                            </div>
                
                        </div>  
                    </div> 
            
                </div>
            </div>

            {{/*  Slide  */}}
            <div class="info-slider__slide">
                <div class="info-slider__content">
                    
                    <div class="highlight-card -white text-left">
                        <div class="highlight-card__content">

                            <div class="highlight-card__icon text-green">
                                {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
                            </div>

                    
                            <div class="highlight-card__main">
                                <h4 class="header-md">Header 05</h4>
                                <div class="paragraphs -sm">
                                    <p>First, pledge a percentage of your shares. The average pledge is 7.5%. The minimum is 2%, and the highest so far is 50%.</p>
                                </div>
                            </div>
                
                        </div>  
                    </div> 
            
                </div>
            </div>

            {{/*  Slide  */}}
            <div class="info-slider__slide">
                    <div class="info-slider__content">
                        
                        <div class="highlight-card -white text-left">
                            <div class="highlight-card__content">
    
                                <div class="highlight-card__icon text-green">
                                    {{- partial "svg/arrow--r.svg" (dict "class" "-md") -}}
                                </div>
    
                        
                                <div class="highlight-card__main">
                                    <h4 class="header-md">Header 06</h4>
                                    <div class="paragraphs -sm">
                                        <p>First, pledge a percentage of your shares. The average pledge is 7.5%. The minimum is 2%, and the highest so far is 50%.</p>
                                    </div>
                                </div>
                    
                            </div>  
                        </div> 
                
                    </div>
                </div>
        </template>

        <template slot="slideNav">
            <h4 class="preheader | header-sm -light">The Pledger Journey</h4>
            <h2 class="header | header-lg text-white">What happens when you pledge?</h2> 
            
            <ul class="nav">
                <li class="nav__item">
                    <h5 class="header-md | pl-3">Header 01</h5>
                </li>
                <li class="nav__item">
                    <h5 class="header-md | pl-3">Header 02</h5>
                </li>
                <li class="nav__item">
                    <h5 class="header-md | pl-3">Header 03</h5>
                </li>
                <li class="nav__item">
                    <h5 class="header-md | pl-3">Header 04</h5>
                </li>
                <li class="nav__item">
                    <h5 class="header-md | pl-3">Header 05</h5>
                </li>
                <li class="nav__item">
                    <h5 class="header-md | pl-3">Header 06</h5>
                </li>
            </ul>

        </template>
    </info_slider>

</div>