<!-- Logo List -->
<header class="section-header">
    <h4 class="header-sm">As Seen In</h4>
</header>

<div class="logo-list">

    <div class="logo-list__logo">
        <figure class="image -is2x1">
            <img src="/img/fpo-logo-03.png" alt="">
        </figure>
    </div>

    <div class="logo-list__logo">
        <figure class="image -is2x1">
            <img src="/img/fpo-logo-04.png" alt="">
        </figure>
    </div>
    
    <div class="logo-list__logo">
        <figure class="image -is2x1">
            <img src="/img/fpo-logo-05.png" alt="">
        </figure>
    </div>
    
    <div class="logo-list__logo">
        <figure class="image -is2x1">
            <img src="/img/fpo-logo-06.png" alt="">
        </figure>
    </div>
    
    <div class="logo-list__logo">
        <figure class="image -is2x1">
            <img src="/img/fpo-logo-07.png" alt="">
        </figure>
    </div>
    
</div>