<!-- Logo Parade -->
<header class="section-header">
    <h4 class="header-sm">As Seen In</h4>
</header>

<div class="logo-parade">

    <div class="logo-parade__logo">
        <img src="" alt="">
    </div>
    
    <div class="logo-parade__logo">
        <img src="" alt="">
    </div>
    
    <div class="logo-parade__logo">
        <img src="" alt="">
    </div>
    
    <div class="logo-parade__logo">
        <img src="" alt="">
    </div>

    <div class="logo-parade__logo">
        <img src="" alt="">
    </div>

    <div class="logo-parade__logo">
        <img src="" alt="">
    </div>    
</div>