<!-- Media Article 
Variations: 

-reverse
-features

Content Types:
- Standard (link group or buttons)
- Gallery

-->
<div class="media-article -features | container">

    <div class="media-article__main | gutter-l--md">

        <!-- Header -->
        <header class="media-article__header">
            <h4 class="header-sm -light | pb-4">Why Now?</h4>
            <h2 class="header-lg | pb-14">By joining now you send a powerful signal to the tech ecosystem: impactful giving should be the norm.</h2>
        </header>

        <!-- Groups -->
        <div class="md:flex pb-8">

            <!-- Group -->
            <div class="md:w-1/2">
                
                <article class="media-article__article">

                    <!-- Features -->
                    <div class="media-article__feature">
                        <h5 class="header-md | text-green-light | mb-3">Lock Lock In Your Commitment</h5>
                        <div class="paragraphs -sm">
                            <p>Joining Founders Pledge enables you to lock in your commitment, and hold yourself accountable to your most important values.</p>
                        </div>
                    </div>

                    <div class="media-article__feature">
                        <h5 class="header-md | text-green-light | mb-3">Lock Lock In Your Commitment</h5>
                        <div class="paragraphs -sm">
                            <p>Joining Founders Pledge enables you to lock in your commitment, and hold yourself accountable to your most important values.</p>
                        </div>
                    </div>
                    
                </article>
            </div>

            <!-- Group -->
            <div class="md:w-1/2 md:flex md:items-end">
                <div class="media-article__actions">
                    <a href="#" class="btn -light">Learn about Donor Advised Funds</a>
                </div>
            </div>
        </div>
    </div>

    <aside class="media-article__aside | bg-green-light">
        <figure class="image -is12x16">
            <img src="" alt="">
        </figure>
    </aside>
    
</div>