<!-- Media Article 
Variations: 

-reverse
-features

Content Types:
- Standard (link group or buttons)
- Gallery

-->
<div class="media-article -features | container">

        <div class="media-article__main | gutter-l--lg | px-12 md:pb-12">

        <!-- Header -->
        <header class="media-article__header | md:pt-24 pt-12">
            <h4 class="header-sm -light | pb-4">{{ .preheader }}</h4>
            <h2 class="header-lg | pb-12">{{ .header }}</h2>
        </header>

        <!-- Groups -->
        <div class="lg:flex md:pb-8">

            <!-- Group -->
            <div class="lg:w-1/2">
                
                <article class="media-article__article">

                    <!-- Features -->
                    {{ range .features }}
                    <div class="media-article__feature">
                        <h5 class="header-md | text-green-light | mb-3">{{ .header }}</h5>
                        <div class="paragraphs -sm">
                            {{ .descr | safeHTML }}
                        </div>
                    </div>
                    {{ end }}

                </article>
            </div>

            <!-- Group -->
            <div class="lg:w-1/2 lg:flex lg:items-end lg:justify-end lg:pl-10">
                <div class="media-article__actions">
                    {{ if .links }}
                        {{ range .links }}
                            <a href="{{ .url }}" class="btn -light">{{ .text }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <aside class="media-article__aside | lg:bg-green-light | md:pb-0 pb-4">
        {{ if .image }}
            <figure class="image -is{{ .image.ratio }} | md:block hidden">
                <img src="{{ .image.url }}" alt="" class="fit-cover">
            </figure>
            <figure class="image -is{{ .image_small.ratio }} | md:hidden block">
                <img src="{{ .image_small.url }}" alt="" class="fit-cover">
            </figure>
        {{ end }}
    </aside>
    
</div>