<!-- Media Article 
Variations: 

-reverse
-features

Content Types:
- Standard (link group or buttons)
- Gallery

-->
<div class="media-article {{.variation}} | container gutter-l--md">

        <div class="media-article__main | gutter-l--lg | px-12 md:pb-12">

        <header class="media-article__header">
            <h2 class="header-xl | pb-5 md:pb-12">{{ .header }}</h2>
            {{ if .subheader }}
            <h4 class="header-sm | pb-5">{{ .subheader }}</h4>
            {{ end }}
        </header>

        <article class="media-article__article | paragraphs">
            {{ .descr | safeHTML }}
        </article>
        
        {{ if .links }}
            <div class="media-article__actions | md:mt-12 mt-5">
                {{ range .links }}
                <div class="link-group">
                    <a href="{{ .url }}" class="link -underline">{{ .text }}</a>
                </div>
                {{ end }}
            </div>
        {{ end }}

    </div>

    
    <aside class="media-article__aside | lg:bg-orange">
        {{ if .image }}
            <figure class="image -is{{ .image.ratio }} | md:block hidden">
                <img src="{{ .image.url }}" alt="" class="fit-cover">
            </figure>
            <figure class="image -is{{ .image_small.ratio }} | md:hidden block">
                <img src="{{ .image_small.url }}" alt="" class="fit-cover">
            </figure>
        {{ end }}
    </aside>
    
    

</div>