<!-- Media Article 
Variations: 

-reverse
-features

Content Types:
- Standard (link group or buttons)
- Gallery

-->
<div class="media-article -features">

        <div class="m-a__content">

                <header class="m-a__header">
                    <h2 class="header-">Redefining what it means to give back.</h2>
                    <h4 class="header-">Empowering Philanthropy</h4>
                </header>
        
                <article class="m-a__article">

                    <!-- Features -->
                    <div class="m-a__feature">
                        <h5 class="header-">Lock Lock In Your Commitment</h5>
                        <p>Joining Founders Pledge enables you to lock in your commitment, and hold yourself accountable to your most important values.</p>
                    </div>

                    <div class="m-a__feature">
                        <h5 class="header-">Lock Lock In Your Commitment</h5>
                        <p>Joining Founders Pledge enables you to lock in your commitment, and hold yourself accountable to your most important values.</p>
                    </div>
                    
                </article>
        
                <div class="m-a__actions">
                    <a href="#" class="btn -green">Start Your Journey</a>
                </div>
        
            </div>
        
            <figure class="m-a__figure">
                <img src="" alt="">
            </figure>
        
        </div>