<div class="pledge-card">
  <div class="pledge-card__content">
    <div class="pledge-card__main">
      <div class="pledge-card__header">
        <h4 class="header-lg-2">7% for FakeCo</h4>
        <h5 class="header-sm">Signed Month DD, YY</h5>
      </div>

      <form action="" class="pledge-form | standard-form-base">
        {{/*  Group  */}}
        <div class="form-group">
          <div class="field-group | w-1/2">
            <label class="standard-label" for="pledge-volume">
              Est Pledge Volume
            </label>
            <input type="text" id="pledge-volume" placeholder="$X,XXX,XXX.XX" />
          </div>
          <div class="field-group | w-1/2">
            <label class="standard-label" for="Valuation">
              Valuation
            </label>
            <input type="text" id="Valuation" placeholder="$X,XXX,XXX.XX" />
          </div>
        </div>

        {{/*  Group  */}}
        <div class="form-group">
          <div class="field-group">
            <label class="standard-label" for="share-holding">
              Share Holding
            </label>
            <input type="text" id="share-holding" placeholder="$X,XXX,XXX.XX" />
          </div>
        </div>
      </form>
    </div>
    <div class="pledge-card__actions">
      <div class="link-group">
        <button class="link -dark -sm -underline">Edit</button>
        <button class="link -dark -sm -underline">Download</button>
      </div>
    </div>
  </div>
  <div class="pattern--green"></div>
</div>
