<!-- Profile Slider -->
<slider
  :opt="{
    items: 1,
    autoplay: true,
    mode: 'gallery'
}"
  class="profile-slider -basic slider-reset -no-gutters bg-grey-darker| container clearfix"
>
  <template slot="slides">
    <div class="profile-slider__slide">
      <div
        class="profile-slider__content gutter-sm gutter-l--md | md:flex-grid"
      >
        <!-- Main -->
        <div class="profile-slider__main">
          <blockquote class="blockquote | md:pt-10">
            <h3 class="blockquote__quote | mb-8 md:mb-10">
              "I’m excited to be able to contribute to a community of founders
              who are thinking critically about their giving. Together I believe
              we can achieve a huge amount of good."
            </h3>

            <cite>
              <h5 class="blockquote__source-header | header-md">
                Miguel Mckelvey
              </h5>
              <small class="blockquote__source-descr">Founder &amp; CEO</small>
            </cite>
          </blockquote>
        </div>

        <!-- Aside -->
        <div class="profile-slider__aside">
          <figure class="image -is1x1 -show-overflow">
            <img
              src="/dist/assets/img/fpo-02.jpg"
              data-src="/dist/assets/img/fpo-02.jpg"
              alt=""
            />
            <div class="pattern--white"></div>
          </figure>
        </div>
      </div>
    </div>

    <div class="profile-slider__slide">
      <div
        class="profile-slider__content gutter-sm gutter-l--md | md:flex-grid"
      >
        <!-- Main -->
        <div class="profile-slider__main">
          <blockquote class="blockquote | md:pt-10">
            <h3 class="blockquote__quote | header-lg | mb-8 md:mb-12">
              "Right and left, the streets take you waterward. Its extreme
              down-town is the battery, where that noble mole is washed by
              waves, and cooled by breezes, which a few hours previous were out
              of sight of land."
            </h3>

            <cite>
              <h5 class="blockquote__source-header | header-md">
                Miguel Mckelvey
              </h5>
              <small class="blockquote__source-descr">Founder &amp; CEO</small>
            </cite>
          </blockquote>
        </div>

        <!-- Aside -->
        <div class="profile-slider__aside">
          <figure class="image -is1x1 -show-overflow">
            <img
              src="/dist/assets/img/fpo-02.jpg"
              data-src="/dist/assets/img/fpo-02.jpg"
              alt=""
            />
            <div class="pattern--white"></div>
          </figure>
        </div>
      </div>
    </div>
  </template>
</slider>
