
<div class="profile-card--info">

    <div class="profile-card--info__content">
        
        <div class="profile-card--info__main">
            <h5 class="header-lg">1,117</h5>
            <h4 class="header-sm -light | mb-10">PLEDGERS AROUND THE GLOBE</h4>
            
            <a href="/pledgers" class="link -icon text-sm">
                <span class="text">Meet more pledgers</span>
                {{- partial "svg/arrow--r.svg" (dict "class" "-sm-3 -stroke-2") -}}
            </a>
        </div>
        
    </div>  
    
</div> 

