<!-- Profile Slider -->
<div class="profile-slider">

    <div class="profile-slider__fig">
        <img src="" alt="">
    </div>

    <div class="profile-slider__main">
        <blockquote class="blockquote">
    
            <h3 class="header-">"I’m excited to be able to contribute to a community of founders who are thinking critically about their giving. Together I believe we can achieve a huge amount of good."</h3>
            
            <cite>
                <h5 class="header-">Miguel Mckelvey</h5>
                <small>Founder &amp; CEO</small>
            </cite>
    
        </blockquote>
    </div>

    [arrows]
    [nav]
</div>
