{{/*  Profile Card  - Modal */}}
<profile_modal>

    <template slot="trigger">

        <figure class="profile-card__figure | image -is1x1">
            <img src="{{ .image }}" alt="">
        </figure>

        <div class="profile-card__main">
            <h4 class="header-md | visibility-shift delay-3 property-all duration-5 timing-1">{{ .name }}</h4>
            <h5 class="header-sm -white | visibility-shift delay-4 property-all duration-5 timing-1"> {{ .detail }}</h5>
            <div class="pattern--green | visibility-shift delay-3 property-all duration-5 timing-1"></div>
        </div>
        
    </template>

    <template slot="image">
        <figure class="profile-card__figure">
            <img src="{{ .image }}" alt="">
        </figure>
    </template>

    <header slot="header">
        <h4 class="header-xl">{{ .name }}</h4>
        <h5 class="header-sm -light"> {{ .detail }}</h5>
    </header>

    <article slot="article">
        <article class="article-copy">
            {{ .bio | safeHTML }}
        </article>
    </article>

    <template slot="aside">
        <dl class="definition-list">
            <dt>Took the Pledge</dt>
            <dd>March 2017</dd>

            <dt>Location</dt>
            <dd>San Francisco, USA</dd>

            <dt>Elsewhere</dt>
            <dd>
                <ul class="social-list -white | mt-3" role="menubar">
                    <li><a href="" aria-label="Facebook">{{- partial "svg/facebook.svg" -}}</a></li>
                    <li><a href="" aria-label="Linked In">{{- partial "svg/linkedin.svg" -}}</a></li>
                    <li><a href="" aria-label="Linked In">{{- partial "svg/twitter.svg" -}}</a></li>
                </ul>
            </dd>
        </dl>
        
    </template>
    
</profile_modal>