<header class="section-header -arrow {{.variation}}">
  <div class="section-header__content">
    <div class="section-header__name">
      {{ if .header }}
      <h2 class="header | header-lg">{{ .header }}</h2>
      {{ end }}
    </div>

    {{ if .buttons }}
    <div class="section-header__action | link-group">
      {{ range.buttons }}
      <a href="{{ .url }}" class="link-group__item | {{ .variation }}">
        {{ .text }}
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</header>
