<stat_card :active="{{ .active }}">

    <template slot="header">
        <h4 class="header | header-md">{{ .header }}</h4>
        <h3 class="figure | header-xl">{{ .figure }}</h3>
    </template>
    
    {{ if .descr }}
    <template slot="descr">
        <div class="stat-card__descr paragraphs -xs">
            {{ .descr | safeHTML }}
        </div>
    </template>
    {{ end }}

</stat_card>

<!-- 
<div class="stat-card">
    <div class="stat-card__content">
        <div class="stat-card__header">
            <h4 class="header | header-md">{{ .header }}</h4>
            <h3 class="figure | header-xl">{{ .figure }}</h3>
        </div>
        {{ if .descr }}
        <div class="stat-card__descr paragraphs -xs">
            {{ .descr | safeHTML }}
        </div>
        {{ end }}
    </div>
</div> -->