// Links
.link {
  @apply no-underline
        font-medium
        inline-block
        timing-1 duration-1 property-all;

  // Underline
  &.-underline {
    @apply text-green border-b-3 border-green pb-1;

    &:hover {
      @apply text-green-darkest border-green-darkest;
    }

    &.-sm {
      @apply border-b-2 text-sm pb-1;
    }
  }

  // Small
  &.-sm {
    @apply text-sm pb-0;
  }

  // Green
  &.-green {
    @apply text-green;

    &:hover {
      @apply text-green-darkest;
    }
  }

  // Dark
  &.-dark {
    @apply text-green-darkest border-green-darkest;

    &:hover {
      @apply text-green border-green;
    }
  }

  // Icon Link
  &.-icon {
    @apply flex items-center;

    // Icon
    svg {
      @apply property-transform;
    }

    .text {
      @apply mr-2;
    }

    &:hover {
      svg {
        transform: translate(0.5rem, 0);
        @apply property-transform;
      }
    }
  }
  // Group of Links
  &-group__item {
    @apply block w-full mb-2;
  }

  // Screen XS
  @screen xs {
    // Group of Links
    &-group {
      @apply flex items-center .justify-start;
      &__item,
      .link {
        @apply mr-4 text-center w-auto mb-0;

        &:last-child {
          @apply mr-0;
        }
      }
    }
  }

  // Screen sm
  @screen sm {
    // Group of Links
    &-group {
      @apply justify-center;
    }
  }

  // Screen Md
  @screen md {
    // Group of Links
    &-group {
      @apply justify-start;
    }
  }
}

// Default Link
a {
  @apply link
    underline;
  color: inherit;

  &:hover {
    @apply text-green;
  }
}
a,
button {
  outline: none !important;
}

// Focus Links (general accessibility)
.focus-links {
  a:focus,
  button:focus {
    color: #e8a879 !important;
    border-color: #e8a879 !important;
    .icon {
      color: #e8a879;
      border-color: #e8a879;
    }
  }
}

// Section Anchor
.js-section-anchor {
  &.section-active {
    color: #53c07d !important;
  }
}
