// Timing
.timing {
  &-1 {
    transition-timing-function: ease;
  }

  &-2 {
    transition-timing-function: ease-in-out;
  }

  &-3 {
    transition-timing-function: var(--bezier-1);
  }
}

// Properties
.property {
  &-all {
    transition-property: all;
  }
  &-none {
    transition-property: none;
  }

  &-colors {
    transition-property: color, background, border-color;
  }

  &-opacity {
    transition-property: opacity;
  }

  &-transform {
    transition-property: transform;
  }

  &-opacity-transform {
    transition-property: opacity, transform;
  }
}

// Durations
.duration {
  &-1 {
    transition-duration: 0.15s;
  }

  &-2 {
    transition-duration: 0.3s;
  }

  &-3 {
    transition-duration: 0.45s;
  }

  &-4 {
    transition-duration: 0.6s;
  }

  &-5 {
    transition-duration: 0.75s;
  }
}

// Delays
.delay {
  &-0 {
    transition-delay: 0s;
  }

  &-1 {
    transition-delay: 0.15s;
  }

  &-2 {
    transition-delay: 0.3s;
  }

  &-3 {
    transition-delay: 0.45s;
  }
  &-4 {
    transition-delay: 0.6s;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
